* text=auto eol=lf

/tests export-ignore
/docs export-ignore
/.tasks export-ignore
/.githooks export-ignore
/.github export-ignore
/phpstan.neon export-ignore
/pint.json export-ignore
/CLAUDE.md export-ignore
